<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        Distribué avec une <a href="https://github.com/likapi/help/blob/main/LICENSE">licence MIT.</a>
      </div>
      <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
        Tous droits réservés &copy;<script>document.write(new Date().getFullYear() - 1 + "-" + new Date().getFullYear());</script> <a href="https://likapi.github.io/"><span>Likapi.</span></a>
      </div>
    </div>
  </div>
</footer>
