<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/the-grid-flexbox@2.0.1/css/the-grid.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico' | relative_url }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ 'assets/favicons/apple-touch-icon.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/favicons/apple-touch-icon-57x57.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/favicons/apple-touch-icon-72x72.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/favicons/apple-touch-icon-76x76.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/favicons/apple-touch-icon-114x114.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/favicons/apple-touch-icon-120x120.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/favicons/apple-touch-icon-144x144.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/favicons/apple-touch-icon-152x152.png' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon-180x180.png' | relative_url }}" />
</head>
